.navibar {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 8vh;

    padding: 2rem 6rem;
    background: var(--color-medgreen);
}

.navibar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navibar-links_logo {
    margin: 2rem;
    font-size: 26px;
    font-weight: 800;
    letter-spacing: 0;
    color: var(--color-text);
}

.nav-items {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: space-between;
    width: 85%;
    margin-right: 2rem;
}

.nav-item {
    background-color: var(--color-medgreen);
    border-radius: 13px;

    color: var(--color-text);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
	border-radius:25px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	padding: 15px 24px;
	text-decoration:none;
    transition: 0.15s ease-in;
	text-shadow:0px 1px 0px #2f6627;
}

.nav-item:hover {
    background-color: var(--color-lightgreen);
}

@media (max-width: 1700px) {
    .nav-items {
        
    }
}


@media (max-width: 1500px) {
    .nav-items {
        left: 55%;
    }
}

@media (max-width: 1400px) {
    .nav-items {
        left: 50%;
    }
}

@media (max-width: 1250px) {
    .nav-items {
        left: 45%;
    }
}
@media (max-width: 1100px) {
    .nav-items {
        left: 30%;
    }
}

@media (max-width: 950px) {
    .nav-items {
        right: 10%;
    }
}